{% extends "base.html.twig" %}
{% block title %}داستان بیرسافت{% endblock %}
{% block body %}
    <div class="col-lg-10 col-sm-12 mx-auto shadow-sm p-3 mb-5 bg-white rounded">
    <main class="">
    <h1>بیرسافت:نرم افزار آنلاین حسابداری</h1>
    <hr>
    <p class="col-md-12 text-center justify-content-around">
    مدل کسب و کار ما با سایر شرکت‌ها متفاوت است. در واقع بیرسافت برای نقد سایر شرکت‌های ارائه دهنده خدمات حسابداری و به چالش کشیدن مدل درآمد آنها به وجود آمد. همه‌ی ما می‌دانیم هر کسب‌وکاری زمان‌هایی دارای افول بوده و شاید در مرحله نابودی باشند در این زمان دسترسی به اطلاعات حسابداری کسب‌و‌کار از مهمترین چالشها و تحلیل این اطلاعات است اما متاسفانه با توجه به بازار نرم افزار‌های حسابداری که روز به روز به سمت گران‌تر شدن قیمت خدمات پیش می‌روند در پیچ‌های تاریخی کسب‌وکارها را تنها می‌گذارند. <br> احتمالا بعد از آنکه اوضاع خوب پیش نمی رود و چند ماهی فروش نداشته‌اید کم کم اکانت حسابداری شما در حال به اتمام رسیدن است و در مهمترین قسمت کار که قصد اتخاذ تصمیمات مهم را دارید متاسفانه به یکباره این اطلاعات از دسترستان خارج می‌شود،احتمالا با این پیغام آشنا باشید: 
    </p>
    <br>
    <b>این داستان بیرسافت است ...</b>
    </main>
    <div>
{% endblock %}