{% extends "base.html.twig" %}
{% block title %}حامیان مالی{% endblock %}
{% block body %}
    <div class="row mt-0 pt-0">
        <div class="col-sm-12 col-md-12">
            <div class="content">
                <div class="py-3 text-center">
                    <h2 class="fw-bold mb-3">
                        بیرسافت با
                        <i class="fa fa-fw fa-heart text-danger"></i>
                         عضو خانواده شماست
                    </h2>
                    <p class="fs-lg mb-0">لطفا با حمایت از بیرسافت به کودکان بیمار کمک کنیم.</p>
                    <div class="my-3">حامیان گرامی ، برای نمایش بنر کسب و کار خود در صفحات وب سایت از طریق بخش پشتیبانی تیکت ارسال کنید.</div>

                    <a class="btn btn-lg btn-success mt-4" target="_blank" href="https://zarinp.al/bearsoft.ir">
                        <i class="fa fa-donate me-3"></i>
                        پرداخت آنلاین کمک مالی
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}